@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* 컬러 변수화 */
  /* Primary (브랜드 컬러 - 노랑 계열) */
  --color-primary: #eab308;
  --color-primary-50: #fefce8;
  --color-primary-100: #fef9c3;
  --color-primary-200: #fef08a;
  --color-primary-300: #fde047;
  --color-primary-400: #facc15;
  --color-primary-500: #eab308;
  --color-primary-600: #ca8a04;
  --color-primary-700: #a16207;
  --color-primary-800: #854d0e;
  --color-primary-900: #713f12;

  /* Primary Blue (어드민 기본 컬러 - 파랑 계열) */
  --color-primary-blue: #2563eb;

  /* Gray (중성 컬러 - 회색 계열) */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db; /* 300이 컴포넌트 border에 많이 쓰임  */
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  /* Success (성공 상태 - 초록 계열) */
  --color-success: #16a34a;
  --color-success-100: #dcfce7;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-800: #166534;

  /* Danger (위험/에러 상태 - 빨강 계열) */
  --color-danger: #dc2626;
  --color-danger-100: #fee2e2;
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2626;
  --color-danger-800: #991b1b;

  /* 타이포그래피 */
  /* 텍스트 컬러 지정 */
  --color-black: #111827;
  --color-primary-text: #111827;
  --color-secondary-text: #374151;
  --color-muted-text: #6b7280;
  --color-brand-text: #ca8a04;
  --color-error-text: #dc2626;
  --color-success-text: #16a34a;

  /* font-sans를 Pretendard로 설정 */
  --font-sans: 'Pretendard', sans-serif;
}

/* 전역 폰트 & 스타일 적용 */
html,
body {
  /* font-sans(Pretendard) */
  font-family: var(--font-sans);
  color: var(--color-primary-text);
  line-height: var(--leading-normal);
  font-weight: normal;
}

/* 타이포그래피 - 전역 클래스(utility aliases) */
/* 헤딩(Headings) */
@utility h1 {
  @apply text-primary-text text-4xl leading-10 font-bold;
}
@utility h2 {
  @apply text-primary-text text-3xl leading-9 font-bold;
}
@utility h3 {
  @apply text-primary-text text-2xl leading-8 font-bold;
}
@utility h4 {
  @apply text-primary-text text-xl leading-7 font-semibold;
}
@utility h5 {
  @apply text-primary-text text-lg leading-7 font-semibold;
}

/* 본문 텍스트(Body Text) */
@utility body-lg {
  @apply text-primary-text text-lg leading-7 font-normal;
}
@utility body-base {
  @apply text-primary-text text-base leading-6 font-normal;
}
@utility body-sm {
  @apply text-secondary-text text-sm leading-5 font-normal;
}
@utility body-xs {
  @apply text-xs leading-4 font-normal text-gray-600;
}

/* HTML 태그에 기본 스타일 매핑 */
@layer base {
  h1 {
    @apply h1;
  }
  h2 {
    @apply h2;
  }
  h3 {
    @apply h3;
  }
  h4 {
    @apply h4;
  }
  h5 {
    @apply h5;
  }

  /* p 태그에는 디폴트로 기본 본문 텍스트(body-base) 적용 */
  p {
    @apply body-base;
  }
  strong {
    @apply font-semibold;
  }
  em {
    @apply italic;
  }

  /* 와이어프레임 참고하여 a 태그 디폴트 스타일링 */
  a {
    @apply text-brand-text body-sm cursor-pointer no-underline hover:underline;
  }
}

/* 토스트 알림 애니메이션 */
@theme {
  --animate-fade-in-out-toast: fade-in-out-toast 3s ease-out;

  @keyframes fade-in-out-toast {
    0% {
      opacity: 0;
      transform: translateX(10%);
    }
    15% {
      opacity: 1;
      transform: translateY(0);
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

/* 테스트 페이지 관련 */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
